* { /*this css aplies to all the elements */
    margin: 0;
    padding: 0;
}

#content { /*this element just increases padding */
    padding : 10%;
}

#menu { /* For the Navigational Menu */
    padding: 0;
    background: #FE1414;
/*position: fixed; */
    width: 100%;
/* I added height */
    height: 10%;
}

#menu ul {
    position: relative;
/* left: 80%; */
    left: 75%;
}

#menu ul li {
/* color: #E9E90D; */
    color: black;
    display: inline-block;
    padding: 0.6%;
}

#menu ul li a { /* Affects the looks of the links, any property in relation to the links can be changed here */
    text-decoration: none;
/* color: #E9E90D; */
    color: black;
/* font-family: 'Pacifico', cursive; */
    font-family:sans-serif;
    border-radius: 1%;
/* I added font-size */
    font-size: 17px;
}

#wrap { /* Main purpose to contain the divs with left and right Id but can still be used for other purposes*/
    margin: 5% auto;
    padding: 20px;
/*  background: #FFF8DC; */
    background-color: lightskyblue;
    border: 5px solid black;
    height:800px;
}

.left { /* content box that we place on the left, was meant to be inside a div equipped with the wrap id but you can probally have it as a child of the body element */
    margin-left: 450px;
    padding: 0px;
    padding-right: 85px;
    width: 350px;
    height: 600px;
/*  background-color: #90EE90; */
    background-color: lightpink;
    display: grid;
    text-align: center;
    float: left;
}

.left h3 {
    margin: 40px;
    height: 50px;
    line-height: 40px;
    color: black;
    text-align: center;
    font-size: 35px;
    font-family: MV Boli;
    padding-left: 45px;
}

.left p {
/*  font-family: sans-serif; */
    font-family: MV Boli ;
    font-size: 18px;
    text-align:center;
    padding-left: 50px;
}

#footer { /* For the footer at the bottom of the page*/
/*  background-color: #FE1414; */
/*  background-color: dodgerblue; */
/*  height: 100px; */
/*  height: 50px; */
/*  padding: 1%; */
/*  font-size: 12px; */
/*  font-size: 15px; */
/*  font-family: 'Pacifico', cursive; */
/*  font-family: fantasy; */
/*  I added text-align*/ 
/*  text-align: center; */
/*  float: left; */
/*  width: 100%; */
}
